.login-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f9f9f9, #bac6d7);
}

.smash {
  font-size: 40px;
  font-family: "Audiowide", sans-serif;
  text-align: center;
}

.login-logo {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
