.load {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: rot5 1s infinite;
  }
  
  @keyframes rot5 {
    0% {
      transform: rotate(0);
    }
  
    50% {
      transform: rotate(180deg);
      border-top-color: #babbbb;
      border-bottom-color:#c4c4c4;
      border-right-color: transparent;
      border-left-color: transparent;
    }
  
    100% {
      transform: rotate(360deg);
    }
  }