.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f9f9f9, #bac6d7);
}

.or-text {
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  margin: 10px;
}
.add-new-user-container{
  width: 350px;
  height: auto;
  min-height: 270px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}