.primary-btn {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  max-width: 200px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.secondary-btn {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  max-width: 200px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
