.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  align-items: center;

  background: linear-gradient(to bottom, #0e0e0e, #021531);
}
.profile-label {
  font-family: "Akaya Telivigala", system-ui;
  font-size: 22px;
}
.profile-edit-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0px;
  left:80px;
}
.add-new-user-admin {
  width: 350px;
  height: 270px;
  min-height: 270px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}


