.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  background: linear-gradient(to bottom, #0e0e0e, #021531);
}
.profile-label {
  font-family: "Akaya Telivigala", system-ui;
  font-size: 22px;
}
.profile-btn-container {
  position: fixed;
  bottom: 80px;
}
