.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom, #021531, #0e0e0e);
}

.streaks-label {
  position: absolute;
  right: 36px;
  top: 40px;
  margin: 0;
  font-size: 10px;
  text-align: center;
}

.streaks-label-date {
  font-size: 14px;
}

.home-start-match-card {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  background-color: #0e0e0ec9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.start-match-card-label {
  font-family: "Akaya Telivigala", system-ui;
  font-size: 18px;
}
.avaliable-players-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.avaliable-profile-car-img {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: contain;
}
.unavaliable-players-card {
  background-color: #616161;
  width: 100%;
  min-width: 100%;
  height: 150px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid #ababab;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avaliable-players-card-pro {
  background-color: #f1dc83;
  width: 100%;
  min-width: 100%;
  height: 150px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid #fdb836;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avaliable-players-card-average {
  background-color: #b0b8fd;
  width: 100%;
  min-width: 100%;
  height: 150px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid #0012b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avaliable-players-card-beginner {
  background-color: #bcc1cb;
  width: 100%;
  min-width: 100%;
  height: 150px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid #808ca5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-match-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  background: #000000;
  height: 270px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 20px;
}
.palyers-match-card {
  width: auto;
  margin: 0px 20px;
  min-width: 345px;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
}
.player-profile-img1 {
  position: absolute;
  left: 60px;
}
.player-profile-img {
  position: absolute;
  left: 235px;
}
.profile-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.palyers-match-btn-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 233px;
}

.subscription-card-conatiner {
  width: 350px;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
.subscription-card-date {
  position: absolute;
  top: 125px;
}
.top-login-list {
  background: #fff;
  min-height: 200px;
  max-height: 500px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
  overflow-y: scroll;
  border: 1px solid black;
}
.current-Match-Timer {
  position: absolute;
  left: 42%;
  top: 60%;
  
}
