.navbar-list {
  background-color: #ffffff;
  padding: 15px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 100;
}

.navbar-icon {
  width: 20px;
  height: 20px;
}
