/* text color */
.white-color {
  color: #ffffff;
}
.black-color {
  color: #000000;
}
.persianGreen-color {
  color: #0da19c;
}
.irishGreen-color {
  color: #028c36;
}
.primarygrey-color {
  color: #d2d2d2;
}
.E1-black-color {
  color: #1e1e1e;
}
.E4-black-color {
  color: #4E4E4E;
}

/* background color */
.bg-white-color {
  background-color: #ffffff;
}

.bg-black-color {
  background-color: #000000;
}
.bg-persianGreen-color {
  background-color: #0da19c;
}
.bg-irishGreen-color {
  background-color: #028c36;
}
.bg-primarygrey-color {
  background-color: #d2d2d2;
}
.bg-E1-black-color {
  background-color: #1e1e1e;
}

/*  font size */
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}

/* font-family  */
.akaya-style {
  font-family: "Akaya Telivigala", system-ui;
  font-size: 22px;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
